{% extends "base.html" %}

{% block css %}

{% endblock %}
{% load static %}
{% block conteudo %}
<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="services.html">Serviços</a></li>
              <li class="breadcrumbs_item">Segurança no Trabalho - Aspectos Comportamentais</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <figure class="mb-3">
            <img src="img/SST-para-gestores1.jpg" alt="">
          </figure>

          <h2 class="title">Segurança no Trabalho - Aspectos Comportamentais</h2>

          <p>
           A segurança e a saúde física e mental do trabalhador necessitam de consistentes soluções que garantam o cuidado à dignidade humana, bem como elevem  os índices de produtividade  para o alcance dos objetivos estratégicos da organização.

          </p>

          <p>
            Definimos o sucesso do nosso trabalho pelos resultados da sua empresa. Com o nosso trabalho colaborativo, construir capacidades duradouras de sua equipe é mais do que possível.
            Torna-se necessário desenvolver técnicas de aprendizagem emocional e não só exclusivamente a ensinamentos técnicos.
          </p>
          
          <blockquote class="blockquote">
            <p>
              Desenvolvemos um treinamento, no qual os participantes possam tomar consciência de suas emoções e sentimentos, desenvolvendo as competências emocionais e equilíbrio interior, buscando o cuidado consigo mesmo, com o outro e com as normas de segurança, bem como  aumento da percepção de si, do outro e do risco (a relação entre o homem e o perigo)
            </p>
          </blockquote>


          <div class="row">
            <div class="col-md-6">
              <h2>Público-Alvo</h2>
              <p>Este Treinamento se destina a Comissões de Auditoria Interna de Segurança, Gestores e Supervisores diretos e colaboradores.</p>

             
            </div>

            <div class="col-md-6">
              <h2>&nbsp;</h2>
              <p>A Cultura Organizacional e a Cultura de Segurança precisam estar alinhadas e engajadas com o programa de Segurança do Trabalho.</p>
              
            </div>
          </div>
<ul class="accordion">
  <li class="accordion_item">
<div class="accordion_content">
  <p>
                  In the case your business requires retail spots, we outline where you may try to open extra shops and what your geographic strategy will be. We put the greatest effort so your product is able to go from regional to national level successfully.
                </p>
            </div>
            </li>

            <li class="accordion_item">
<div class="accordion_content">
  <p>
                  When you’ve reached your original core customers, we search and connect other potential groups with the product you offer. We also help companies to seek for partners providing business-to-business services
                </p>
            </div>
            </li>

            <li class="accordion_item">
			<div class="accordion_content">
			  <p>
                  When trying to grow your sales, new product is what comes to your mind first. We develop the plan for introducing new products or services in the short, medium and long term as well as advise you regarding the product itself.
                </p>
            </div>
            </li>

            <li class="accordion_item">
<div class="accordion_content">
  <p>
                  Franchising is a feasible option for many industries. It works best when the product you offer is consistent and the customers recognize and trust your brand.
                </p>
            </div>
            </li>

            <li class="accordion_item">
<div class="accordion_content">
  <p>
                  Using the Internet for selling your product or growing business is not mandatory, but it increases your chances against other market players drastically. We help to establish your own website, advertise online and build local brand awareness through the Web overall.
                </p>
            </div>
            </li>

            <li class="accordion_item">
<div class="accordion_content">
  <p>
                  Complete and working business strategy is not an easy target to hit. Protecting your business against losses means securing your employees, customers, building, equipment, and revenue-related assets. Our company works side to side with the best business research and analytics team all over the world, providing you the most decent solutions.
                </p>
            </div>
            </li>
        </ul>

          <div class="row mb-4">
            <div class="col-md-4">
              <canvas id="piChart" width="400" height="400"></canvas>
            </div>

            <div class="col-md-8">
              <canvas id="lineChart" width="400" height="200"></canvas>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="cases-single.html">Consultorias</a></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"></li>
                <li class="sidebar_list_item"><a href="careers.html">Treinamentos</a></li>
              </ul>
            </div>

            <div class="sidebar_widget"> </div>

            <div class="sidebar_widget"> </div>
</div>
        </aside>
      </div>
    </div>
  </section>
</main>
{% endblock %}
